<!DOCTYPE html>
<html>
  <head>
  
    <title>Page Title</title>
    <style>
        div{
            color:orange;
        }
        img {
            width: 100%;
            height: auto;
        }
        .input{
            background-color:white;
        }
        a:link a:visited {
            background-color:yellow;
        }

        a:hover, a:active {
            background-color: red;
        }
        p{
            background-color:blue;
        }
        

       
        footer {
            text-align:center;
            padding : 3px;
            background-coler:black;
            color:purple;
        }

        
      header {
        background-color: green;
        padding: 100px;
        color: white;
      }

      
      logo {
        max-width: 100px;
      }

        #paragraph-area {
            background-color: lightblue;
        }
    </style>
  </head>

  <body>
      <div>
          <div id="paragraph-area" class="yellow-bg">
      <p>
        adsfgdagdagddfgdgsdgfsgfdgfdhfh
      </p>
    <div class=" input"> <input type="text" /></div>

        <div class="input"> <input type="button"value="login" onclick="login('welcome to my page')" /></div>
        <div class="input"> <input type="password" /></div> 
   
    <img src="img_girl.jpg" alt="Girl in a jacket" width="460" height="345">>

    <link rel="author" href="~/css/site.css" />
      <section>mohamad want to be as developer</section>
      
      <footer>
        <link ="https://github.com/MOHAMMADALQUTAM"
        <p>
            <span style="color:blue">mohammad alqutami</span>
          <a href ="mohammad alqutami@yahoo.com">this is my email</a>
      </p>
        <a href="https://github.com/MOHAMMADALQUTAM" target="_blank"></a>
    </footer>
    
    <header>
      <img src="logo.png" alt="Logo" class="logo">
      <h1>welcome my coach ibrahim swaiss this is my first page </h1>
      <h2>i hope my work is fine </h2>
      <h3>i understand what you take in the lecture </h3>
      <h4>but you are very fast</h4>
        <span style="color:blue">keep slow please</span>
      <h5>keep slow please</h5>
      <h6>best wishes</h6>
    </header>
    </div>
    <p> <span style="color:brown">mohammad alqutami</span></p>
    <script>
        function login(msg){
            alert(msg);
        }
    </script>
  </body>
</html>